<h2>Approved Products</h2>
<!-- <ng-container *ngFor="let product of productVerifiedList">
    <div class="mt-4 border p-3 row">
        <div class="row">
            <div class="row">
                <div class="detail col-md-9">
                    Product ID : {{product.id}} <br>
                    Product Name : {{product.name}} <br>
                    Sales Price : {{product.price}} <br>
                    Discount (%) : {{product.discount}}% <br>
                    Margin (%) : {{product.margin}}% <br>
                    Status : <span style="color:green" *ngIf="product.approvalStatus == 'true'">Approved</span> 
                             <span *ngIf="product.approvalStatus == 'rejected'" style="color:red">Rejected</span> <br>
                             <button class="btn btn-danger btn-sm" (click)="revoke(product.id)">Revoke</button>
                </div>
                <div class="detail col-md-3">
                    <img src="{{product.imageURL}}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</ng-container> -->

<!-- <div class="d-flex justify-content-center">
    <div class="input-group mb-2" style="width: 80%;">
        <select [(ngModel)]="searchType" id="searchType" (ngModelChange)="filter()" name="searchType" class="rounded form-control" style="width: 20%;">
            <option value="all">All</option>
            <option value="approved">Approved</option>
            <option value="rejected">Rejected</option>
        </select>
        <input type="text" [(ngModel)]="searchValue" class="form-control" style="width: 70%;" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append" style="width: 10%;">
          <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
        </div>
    </div>
</div> -->

<div class="d-flex justify-content-center">
    <div class="input-group mb-2" style="width: 80%;">
        <select [(ngModel)]="searchType" id="searchType" (ngModelChange)="filter()" name="searchType" class="rounded form-control" style="width: 20%;">
            <option value="all">All</option>
            <option value="productId">Product Id</option>
            <option value="approvedProduct">Approved Product</option>
            <option value="rejectedProduct">Rejected Product</option>
        </select>
        <input type="text" [(ngModel)]="searchValue" class="form-control" style="width: 70%;" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append" style="width: 10%;">
          <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Sales Price(₹)</th>
        <th>Discount(%)</th>
        <th>Margin(%)</th>
        <th>Status</th>
        <th>Image</th>
        <th>Revoke Product</th>
    </tr>
    <ng-container *ngFor="let product of productVerifiedList">
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.discount}}</td>
            <td>{{product.margin}}</td>
            <td> <span style="color:green" *ngIf= "product.approvalStatus == 'true'">Approved</span>
                <span *ngIf="product.approvalStatus == 'rejected'" style="color:red">Rejected</span>
            </td>
            <td>
                <a href="{{convertToImage(product.image)}}" target="_blank">View Image</a>
            </td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="revoke(product.id)">Revoke</button>
            </td>
        </tr>
    </ng-container>
</table>

