.add-remove{
    border: none;
    width: 30px;
    background-color:rgb(241, 241, 241); 
    padding: 8px;
    border-radius: 3px;
    /* background-image:linear-gradient(to right,,#602A5C); */
}
.add-remove-text{
    opacity: 1; /* Fully opaque */
    transition: opacity 0.3s ease-in-out;
}
.add-remove-text:hover{
    opacity: 0.6;
}
.place-order{
    background-color: #368422;
    color:white;
    border: 0.5px solid #368422;
    border-radius: 6px;
}
.place-order:hover{
    opacity: 0.8;
    /* color: white; */
}
.go-to-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.go-back{
    margin-top: 5px;
    background-color: #045386;
    color:white;
    border: 0.5px solid #045386;
    padding: 10px;
}
.prod-name{
    font-weight: bold;
    margin-bottom: 5px;
}
#delivery-expected{
    font-size: 14px;
}
.quant-display{
    text-align: center;
    display: inline-block; 
    background-color:rgb(241, 241, 241); 
    width: 60px;
    padding:8px;
}
