.add-remove{
    border: 1px solid rgb(77, 75, 78);
    border-radius: 50%;
    width: 45px;
    background-color: rgb(77, 75, 78);
    color:white;
    font-size:20px;

    /* background-image:linear-gradient(to right,,#602A5C); */

}
.add-remove:hover{
    /* background-color: #602A5C; */
    opacity: 0.9;
}

.place-order{
    background-color: #368422;
    color:white;
    border: 0.5px solid #368422;
    border-radius: 6px;
}
.place-order:hover{
    opacity: 0.8;
    /* color: white; */
}
.go-to-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.go-back{
    margin-top: 5px;
    background-color: #045386;
    color:white;
    border: 0.5px solid #045386;
    padding: 10px;
}
