<h2>My Orders</h2>
<ng-container *ngFor="let order of myOrders">
    <div class="mt-4 border p-3 row">
        <div class="detail col-md-3" >
            <img [src]="order.productVariation.product.imageURL" class="img-fluid" [routerLink]="['/product', order.productVariation.product.id]">
        </div>
        <div class="detail col-md-9">
            {{order.productVariation.product.name}} <br>
            &#9745; Delivery Date : {{order.dateOfDelivery}} <br>
            &#9745; Delivered : <span style="color:green" *ngIf="order.orderStatus == 'true'">Delivered</span> 
                        <span *ngIf="order.orderStatus == 'false'" style="color:red">Pending</span><br>
                        <a role="button" class="link-primary mg" *ngIf="!order.showDetails" (click)="showDetailsMethod(order)">View Details</a>
            <div *ngIf="order.showDetails">
                <span>&#9745; Delivery Address : </span> 
                        {{order.address.name}}&nbsp;( {{order.address.contact}} ) <br>
                        {{order.address.address1}}&nbsp;
                        {{order.address.address2}}&nbsp;
                        {{order.address.city}}&nbsp;
                        {{order.address.state}}&nbsp;
                        {{order.address.zipcode}}&nbsp; <br>
                
                <span>&#9745; Ordered Date : {{order.orderDate}}</span> <br>
                <span>&#9745; Quantity : {{order.quantity}}</span> <br>
                <span *ngIf="order.productVariation.size != ''">&#9745; Size : {{order.productVariation.size}}</span> <br>
                <span>&#9745; Total Price : ₹ <span style="color: green;">{{order.totalPrice}}</span></span> <br>
                <a role="button" class="link-primary mg" *ngIf="order.showDetails" (click)="hideDetailsMethod(order)">Hide Details</a>
            </div>
        </div>
    </div>
</ng-container>
<router-outlet></router-outlet>