img:hover{
    cursor: pointer;
}
#order-list{
    border-color: rgba(0, 0, 0, 0.121);
    margin-bottom: 10px;
    border-style: solid;
    background-color: rgb(240, 240, 240);
}
.order-details{
    width: 90%;
    margin-left: 45px;
}
.ddate{
    display: inline-block;
    font-size: 14px;
}
.view-details{
    font-size: 14px;
    margin-left: 5px;
}
.cancel-confirm{
    margin-top: 18px;
    border:solid;
    padding: 8px;
    border-color: rgba(0, 0, 0, 0.532);
}
#yes-cancel{
    margin-left: 5px;
}