<div class=body><div class="container border form-div">
    <div class="wrapper">
            <div class="form-headline">
                <!Customer--  -->
                <h2>Welcome</h2>
            <h4 >Create your account</h4>
            </div>      <form id="submit-form" (ngSubmit)="onSubmit()">
                    <p class="full-width">
                        <input type="password" id="email" name="email" class="form-input" type="email" placeholder="Your Email*" [(ngModel)]="user.username">
                        <small class="name-error"></small>
                    </p>
                    <p class="full-width">
                        <input id="passowrd" name="password" class="form-input" type="password" placeholder="Password*"  [(ngModel)]="user.password" required>
                        <small></small>
                    </p>
                    <p class="full-width">
                        <input  id="confirm-password" name="confirmPassword" class="form-input" [(ngModel)]="user.confirmPassword" type="password" placeholder="Confirm Password*" required>
                        <small></small>
                    </p>
                    <p class="full-width">
                        <input type="checkbox" id="checkbox" name="checkbox" checked>  By signing-up, I agree to the <a href="/legal">Terms and Conditions</a>.
                    </p>
                    <p class="full-width">
                        <!-- <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()"> -->
                        <button class="submit-btn" type="submit">Submit</button>
                        <!-- <button class="reset-btn" onclick="reset()">Reset</button> -->
                    </p>
                </form>
            </div>
        </div>'
    </div>
    
