.carousel-control-next-icon,.carousel-control-prev-icon{
transform: scale(2);
opacity:.8;
 }
.carousel-control-next-icon,.carousel-control-prev-icon:hover{
 opacity:1;
}
.carousel-body { padding-top: 100px; }
@media screen and (max-width: 768px) {
.carousel-body { padding-top: 150px; }
}