.carousel-control-next-icon,.carousel-control-prev-icon{
transform: scale(2);
opacity:.8;
 }
.carousel-control-next-icon,.carousel-control-prev-icon:hover{
 opacity:1;
}
.carousel-body { padding-top: 100px; }
@media screen and (max-width: 768px) {
.carousel-body { padding-top: 150px; }
}


.carousel-item img { /* Adjust image size if needed */
  object-fit: cover; /* This will maintain aspect ratio and ensure images fill the container */
  height: 225px; /* Set image height to 100% of the carousel-body */
}
