<div class="body"><div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Terms & Conditions</h1>

</div>
<div class="fs-5 text-body-secondary p-5">
  <ul>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, nisi! Vitae eligendi nulla ipsam dolores. Neque sit iste, harum, voluptatem vitae sed minus sequi, voluptas voluptates quod odit eos ex.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis at distinctio delectus fugit. Excepturi ex veniam error, assumenda amet cupiditate minus ipsam odio deserunt perspiciatis. Repellendus hic autem corporis voluptate!
   </li>
   <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, non nisi sequi minus cupiditate neque sapiente velit accusantium? Deleniti pariatur commodi dolore, maxime totam minima suscipit minus ratione accusantium eos.</li> 
 <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non blanditiis fugiat assumenda ratione voluptates consequuntur eligendi reprehenderit odio laborum veritatis maxime at, tempore rerum. Corporis officiis veritatis aliquam magni?</li> 
<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, nisi! Vitae eligendi nulla ipsam dolores. Neque sit iste, harum, voluptatem vitae sed minus sequi, voluptas voluptates quod odit eos ex.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis at distinctio delectus fugit. Excepturi ex veniam error, assumenda amet cupiditate minus ipsam odio deserunt perspiciatis. Repellendus hic autem corporis voluptate!
</li>  
  </ul>
</div>
</div>
