

.main-container {
    position: fixed;
    background-color: #fefefe;
    transition: 1s;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    
  }
  
  
    .close-button{
    grid-column:1/span 2;
    height:30px;
    display: flex;
    justify-content: right;
    padding:25px;
    }
  
    .close-button:hover {
      cursor: pointer;
    }

    img{
      
        display: block;
        margin: auto;
        height: fit-content;
     
  
    }
    
    .product-detail{
  /* background-color: rgba(196, 191, 167, 0.571); */
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#020401;
  height:100%;
  
    }
    .product-detail>div{
padding-bottom: 10px;
    }
  
    .p-name{
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size: 4rem;
  color: #3a3a3a;
  padding-bottom: 10px;

  }
  
  
    hr{
    display:block;
    background-color:#070404;
    height: 1px;
    /* width:50%; */
    margin: auto;
    
  }
 
  .gc{
    font-weight: 800;


  }
    .price{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;

    }
    .price>span>s{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    #price{
      font-size:2rem;
      padding-right: 10px;
      color: #3a3a3a;
  
    }
    #inclusive-of-tax{
      font-size:medium;
    }

    span{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-right: 5px;
      color: #3a3a3a;
    }
  
  
    .gender-category{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-transform:capitalize;
      justify-content: center;
      display: flex;
      font-size: 1.3rem;
      padding-bottom: 10px;

   }
   .gender-category>span{
    margin:8px;
  }
  
    .desc{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size:1.5rem;
      color: #3a3a3a;
      padding-bottom: 10px;
    }
  #desc{
    font-size: 1.3rem;
    
  }
  #size{
    font-size:1.3rem;
  }
  
    .form-select{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      width:fit-content;
      font-size: 1.3rem;
    }
    .add-to-cart{
      grid-column-start:2;
      justify-content:center;
      padding-top:40px;
    }
    .btn-add-to-cart{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  
    .btn-add-to-cart {
      border: none;
      background-color: #ff9908;
      padding: 10px 30px;
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      border-radius:25px;
    }
    .btn-add-to-cart:hover {
         opacity: 0.9;
          }
  
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
    