@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 40px auto;

}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.img-showcase img{
    min-width: 100%;
}
.img-select {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.img-item {
    flex: 0 0 calc(33.33% - 10px); /* Each image occupies roughly one-third of the container width with 10px margin */
    margin-right: 10px; /* Add margin between images */
}

.img-item:last-child {
    margin-right: 0; /* Remove margin from the last image */
}

.img-item img {
    width: 100%; /* Ensure images fill their containers */
    height: auto; /* Maintain aspect ratio */
    min-width: 100px; /* Set a maximum width for the images */
}

.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    font-size: 30px;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: green;
}
.product-detail h4{
    margin-top: 45px;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    max-width: 425px;
    opacity: 0.8;
}
.product-detail ul{
    margin-top: 25px;
    margin-left: 12px;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.ekart-product-detail-size {
    display: flex;
    align-items: center; /* Align items vertically */
}
/* .purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
} */
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
    }
    .product-imgs{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 100px;
        gap:20px;

    }
    .product-content{
        padding-top: 0;
    }
}
.quantity-change{
    display: flex;
    flex-direction: row;
}
.quant-display{
    text-align: center;
    display: inline-block; 
    background-color:rgb(241, 241, 241); 
    width: 60px;
    padding:8px;
}
.add-remove{
    border: none;
    width: 30px;
    background-color:rgb(241, 241, 241); 
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    /* background-image:linear-gradient(to right,,#602A5C); */
}
.add-remove-text{
    opacity: 1; /* Fully opaque */
    transition: opacity 0.3s ease-in-out;
}
.add-remove-text:hover{
    opacity: 0.6;
}
.payment-images{
    margin-top: 20px;
    width: 280px;
}
.body { padding-top: 50px; }

@media screen and (max-width: 768px) {
.body { padding-top: 100px; }
}




.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #6f00ff;
    transition: color 0.3s;
  }
  

    .stars {
        color: #f5b301;
    }
    .fa-star, .fa-star-o {
        font-size: 1.2rem;
    }

    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
      }
    
      .rating input {
        display: none;
      }
    
      .rating label {
        font-size: 2rem;
        color: #ddd;
        cursor: pointer;
      }
    
      .rating input:checked ~ label,
      .rating label:hover,
      .rating label:hover ~ label {
        color: #f5b301;
      }


    .cookie-card {
  max-width: 450px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55 );
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.pref:hover {
  color: rgb(156 163 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.cookie-card-container {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center horizontally */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .cookie-card {
    margin-bottom: 1rem; /* Add space between cards */
  }
  


  button {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #fbca1f;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
    box-shadow: 0px 0px 20px -18px;
  }
  
  button:active {
    transform: scale(0.95);
  }
.del{
  padding:5px 15px;
}