<div
  class="ekart--product--details--info scroll main-container"
  *ngIf="product"
  
>
  <div class="ekart-product-detail-close close-button">
    <i class="fa fa-times" aria-hidden="true" routerLink="/"></i>
  </div>
  <div class="ekart-product-detail-image">
    <img
      [src]="product[0].product.imageURL"
      class="ekart-product-detail-image"
    />
  </div>

  <div class="ekart-product-detail product-detail">
    <div class="ekart-product-detail-name p-name">
     {{ product[0].product.name }}
    </div>
    <hr>
    <!-- gender-category -->
    <div class="ekart-product-detail-gbc gender-category">
      <span class="gc">{{ product[0].product.gender }}</span>
      <span class="gc">{{ product[0].product.category.categoryName }}</span>
    </div>

    <!-- price -->
    <div class="ekart-product-detail-price price">
      <span id="price"
        >MRP: <s>₹{{ product[0].product.price }}</s></span>
      <span id="price">₹{{product[0].product.price -(product[0].product.discount * product[0].product.price) / 100}}</span>
      <span id="inclusive-of-tax">(Inclusive of all taxes)</span>
    </div>
  
    <!-- description -->
    <div class="ekart-product-detail-desc desc">
      <span id="desc"> Description:</span><br/>
      {{ product[0].product.description }}
    </div>

    <!--size  -->

    <div class="ekart-product-detail-size size">
      <span id="size">Size</span>
      <diV>
        <form action="">
          <select
            class="form-select"
            aria-label="Default select example"
            (change)="pickSize($event)"
          >
            <option selected [value]="-1">Select Size</option>
            <ng-container *ngFor="let size of product[0].size_quan">
              <option [value]="size.split(',')[0]">
                {{ size.split(",")[0] }}
              </option>
            </ng-container>
          </select>
        </form>
      </diV>
    </div>
    <hr>
    <div class="ekart-product-detail-addtoCart add-to-cart">
      <button
        class="btn-add-to-cart"
        *ngIf="role == 'ROLE_CUSTOMER'"
        (click)="addToCard(product[0])"
      >
        ADD TO CART
      </button>
      <ng-template #notifyMe>
        <button class="btn-add-to-cart">NOTIFY ME</button>
      </ng-template>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
