<h2>Sellers for Approval</h2>
<ng-container *ngFor="let seller of sellerVerifiedList">
    <div class="mt-4 border p-3 row">
        <div class="detail col-md-9">
            Seller Id : {{seller.id}} <br>
            Company Name : {{seller.companyName}} <br>
            Company Type : {{seller.companyType}} <br>
            GST Number : {{seller.gstNumber}} <br>
            Licence Number : {{seller.licenceNumber}} <br>
            Contact Email : {{seller.contactEmail}} <br>
            Website : {{seller.website}} <br>
            Address : {{seller.address}} <br>
            Status : <span style="color:green" *ngIf="seller.approvalStatus == 'true'">Approved</span> <br>
            <span *ngIf="seller.approvalStatus == 'rejected'" style="color:red">Rejected</span> <br> 
            <button class="btn btn-danger btn-sm" (click)="revoke(seller.id)">Revoke</button>
        </div>
    </div>
</ng-container>