<h2>Approved Sellers</h2>
<div class="d-flex justify-content-center">
    <div class="input-group mb-2" style="width: 80%;">
        <select [(ngModel)]="searchType" id="searchType" name="searchType" class="rounded form-control" style="width: 20%;">
            <option value="companyName">Company Name</option>
            <option value="gstNumber">GST Number</option>
            <option value="sellerId">Seller Id</option>
            <option value="licenceNumber">Licence Number</option>
        </select>
        <input type="text" [(ngModel)]="searchValue" class="form-control" style="width: 70%;" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append" style="width: 10%;">
          <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>Seller Id</th>
        <th>Company Name</th>
        <th>Company Type</th>
        <th>GST Number</th>
        <th>License Number</th>
        <th>Contact Email</th>
        <th>Status</th>
        <th>Revoke Seller</th>
    </tr>
    <ng-container *ngFor="let seller of sellerVerifiedList">
        <tr>
            <td>{{seller.id}}</td>
            <td>{{seller.companyName}}</td>
            <td>{{seller.companyType}}</td>
            <td>{{seller.gstNumber}}</td>
            <td>{{seller.licenceNumber}}</td>
            <td>{{seller.contactEmail}}</td>
            <td> <span style="color:green" *ngIf="seller.approvalStatus == 'true'">Approved</span>
                <span *ngIf="seller.approvalStatus == 'rejected'" style="color:red">Rejected</span>
            </td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="revoke(seller.id)">Revoke</button>
            </td>
        </tr>
    </ng-container>
</table>