
<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="https://i.pinimg.com/564x/b3/a3/dc/b3a3dc82d7a3e9111943f70f56824cbb.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo molestiae blanditiis doloremque, aliquid officia suscipit sunt neque impedit numquam nisi eligendi laborum, soluta non temporibus sit laudantium consequatur consectetur incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi odio saepe, sapiente repudiandae impedit doloremque molestiae earum. Modi placeat laboriosam dignissimos exercitationem consequuntur? Aliquid numquam enim dolor unde consequatur necessitatibus.</p>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident quae dolorem officiis nulla! Cumque vitae perferendis error? Earum porro quia facere rerum itaque animi delectus dolor a ullam ea!</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Increase Market Reach</h4>
                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, animi magni! A atque laborum rem quam repellendus quos tempora numquam.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                      <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Delivery</h4>
                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque tenetur ad? Expedita atque omnis, dolore nemo in eaque maiores nostrum aliquid unde</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
