<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-8 border-top border-start">

            <div class="container mt-4">

                <h1 class="os-title">Order Summary</h1>
                <div class=" p-3 d-flex border" id="item-card" *ngFor="let item of cardItems">
                    <div class="detail col-md-10">
                        <span style="font-weight: bold; text-decoration: underline;">{{item.product.name}}
                        </span><br><br>
                        Expected Delivery Date : 10-10-2023 <br>
                        Color : {{item.product.color}} &nbsp; | &nbsp; Size : {{item.productVariation.size}} <br>
                        Quantity : {{item.quantity}}
                    </div>
                    <div class="detail col-md-2" id="card-img">
                        <img src="{{convertToImage(item.product.image)}}" class="img-fluid">
                    </div>
                </div>
                <br><br>
            </div>
        </div>

        <div class="col-md-4 border">
            <!-- 20% width -->
            <div class="border-bottom p-3" style="font-family: 'Poppins';">
                PRICE DETAILS
            </div>
            <div class="m-2 border-bottom">
                <div class="price row p-2">
                    <div class="col-8 " style="font-family: 'Poppins';">
                        Price({{totalQuantity}} item)
                    </div>
                    <div class="col-4" style="font-family: 'Poppins';">
                        &nbsp; &nbsp;₹{{total}}
                    </div>
                </div>
                <div class="discount row p-2 ">
                    <div class="col-8" style="font-family: 'Poppins';">
                        Discount
                    </div>
                    <div class="col-4" style="font-family: 'Poppins';">
                        - ₹{{discount}}
                    </div>
                </div>
                <div class="delivery row p-2" style="font-family: 'Poppins';">
                    <div class="col-8" style="font-family: 'Poppins';">
                        Delivery Charges
                    </div>
                    <div class="col-4" style="color: green;" style="font-family: 'Poppins';">
                        &nbsp; &nbsp;₹49
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="border-bottom row pb-3" style="font-family: 'Poppins';">
                    <div class="col-8" style="font-family: 'Poppins';">
                        Total Amount
                    </div>
                    <div class="col-4" style="font-family: 'Poppins';">
                        &nbsp; &nbsp;₹{{total - discount + delivery}}
                    </div>
                </div>
            </div>
            <div class="m-3" style="color: green;font-family: 'Poppins';text-decoration: underline;">
                You will save ₹{{discount}} on this order !
            </div>
            <div>
                <button class="btn btn-outline-success m-3 p-3" (click)="placeOrder()">PLACE ORDER</button>
            </div>
        </div>

        <div class="col-md-8 border">

            <div class="container mt-4">
                <h1 class="ot-title">Select Address</h1>

                <div class="border p-3" id="delivery-address">
                    <form class="p-3">
                        <div class="row">
                            <div class="form-check mb-3 col-md-6" *ngFor="let address of myAddresses; let i=index">
                                <div class="card card-body" [class.selected-radio]="i === selectedAddressIndex">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            [id]="'flexRadioDefault' + i" value="address" [checked]="i === 0"
                                            (change)="selectAddress(address, i)">
                                        <label class="form-check-label" [for]="'flexRadioDefault' + i">
                                            <h5 class="card-title">{{address.name}}</h5>
                                            <h6>{{address.contact}}</h6>
                                            <p class="card-text">Address : {{address.address1}} {{address.address2}}
                                                {{address.city}}
                                                {{address.state}} {{address.zipcode}}</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="address-link" routerLink="/customer-address" [queryParams]="{ myAddress: true }">Add New Address +</a>
                    </form>
                </div>
            </div>
        </div>


        <!-- <button class="btn btn-primary" (click)="showAddressForm()">Add Address</button>
                        <form #myForm="ngForm" class="mt-5 border p-3" (ngSubmit)="onAddressSubmit()"
                            [hidden]="!showForm">
                            <h2>Add New Address</h2>
                            <div class="row m-3">
                                <div class="col-md-6">
                                    <input type="text" name="Name" [(ngModel)]="addAddress.name"
                                        class="form-control form-control-lg" id="colFormLabelLg" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="contact" [(ngModel)]="addAddress.contact"
                                        class="form-control form-control-lg" id="colFormLabelLg" placeholder="Contact">
                                </div>
                            </div>
                            <div class="form-group m-3">
                                <label for="address">Address</label>
                                <input type="text" name="address" [(ngModel)]="addAddress.address1"
                                    class="form-control form-control-lg" placeholder="1234 Main St">
                            </div>
                            <div class="form-group m-3">
                                <label for="address2">Address 2</label>
                                <input name="address2" type="text" [(ngModel)]="addAddress.address2"
                                    class="form-control form-control-lg" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="row m-3">
                                <div class="form-group col-md-6">
                                    <label for="city">City</label>
                                    <input name="city" type="text" [(ngModel)]="addAddress.city" placeholder="City"
                                        class="form-control form-control-lg" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="state">State</label>
                                    <input name="state" type="text" [(ngModel)]="addAddress.state" placeholder="State"
                                        class="form-control form-control-lg" id="inputState">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="zip">Zip</label>
                                    <input name="zip" type="text" class="form-control form-control-lg"
                                        [(ngModel)]="addAddress.zipcode" placeholder="Zips" id="inputZip">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary m-3">Add</button>
                        </form> -->




        <div class="col-md-8 border-start border-end border-bottom">
            <div class="container mt-4">
                <h1 class="ot-title">Select Payment Method</h1>
                <div class="border p-3" id="delivery-address">
                    <form class="p-3">
                        <div class="row">
                            <div class="form-check mb-3 col-md-6">
                                <div class="card card-body" style="width:700px; margin-top: 20px;" (click)="selectRadio(radio1)">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" #radio1
                                            [id]="'flexRadioDefault1'" value="cod" checked (change)="selectedPayment('rp')">
                                        <label class="form-check-label">
                                            &nbsp;<img style="height:25px;width:80px" src="assets\razorpay_logo.svg">
                                        </label>
                                    </div>
                                </div>
                                <div class="card card-body" style="width:700px" (click)="selectRadio(radio3)">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" #radio3
                                            [id]="'flexRadioDefault2'" value="credit" (change)="selectedPayment('credit')">
                                        <label class="form-check-label">
                                            <h5 class="card-title" style="margin-top: 1px;">&nbsp;Credit Card/Debit Card/Net Banking</h5>
                                        </label>
                                    </div>
                                </div>
                                <div class="card card-body" style="width:700px" (click)="selectRadio(radio2)">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" #radio2
                                            [id]="'flexRadioDefault3'" value="cod" (change)="selectedPayment('cod')">
                                        <label class="form-check-label">
                                            <h5 class="card-title" style="margin-top: 1px;">&nbsp;Cash on Delivery</h5>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="text-end" style="margin-left: 6px; margin-bottom: 35px;">
                    <!-- Aligns content to the right -->
                    <button class="btn btn-outline-success p-3" (click)="placeOrder()">PLACE ORDER</button>
                </div>
            </div>
        </div>

        <!-- <div class="p-3 d-flex border">
            <div class="detail col-md-9">
                Order Confirmation will be sent to {{selectedAddress.contact}}
            </div>
            <div class="detail col-md-3">
                <button class="m-3 p-2 place-order">Continue</button>
            </div>
        </div> -->
    </div>
</div>