<h3>Order Tracking </h3>
<br>
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" (change)="orderPlaced()" checked>
    <label class="btn btn-outline-primary" for="btnradio1">Order Placed</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="packed()">
    <label class="btn btn-outline-primary" for="btnradio2">Packed</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (change)="shipped()">
    <label class="btn btn-outline-primary" for="btnradio3">Shipped</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" (change)="atDeliveryCentre()">
    <label class="btn btn-outline-primary" for="btnradio4">At Delivery Centre</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" (change)="outForDelivery()">
    <label class="btn btn-outline-primary" for="btnradio5">Out for Delivery</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" (change)="delivered()">
    <label class="btn btn-outline-primary" for="btnradio6">Delivered</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" (change)="cancelled()">
    <label class="btn btn-outline-primary" for="btnradio7">Cancelled</label>
</div>
<br><br>


<table class="table table-striped table-sm table-bordered">
    <thead >
        <tr>
            <th scope="col">Tracking ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Order Status</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Status Date</th>
            <th scope="col">Status Change</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let myOrderTracing of myOrderTracking;let i = index;">

            <ng-container *ngIf="myOrderTracing.status == 'CANCELLED'">
                <tr class="table-secondary">
                    <td>{{myOrderTracing.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.name}}</td>
                    <td>{{myOrderTracing.order.productVariation.size}}</td>
                    <td>{{myOrderTracing.order.quantity}}</td>
                    <td>{{myOrderTracing.order.address.name}} |
                        {{myOrderTracing.order.address.contact}} |
                        {{myOrderTracing.order.address.address1}}, {{myOrderTracing.order.address.address2}}
                        {{myOrderTracing.order.address.city}}, {{myOrderTracing.order.address.status}}
                        {{myOrderTracing.order.address.country}}, {{myOrderTracing.order.address.zipcode}}</td>
                    <td>{{myOrderTracing.status}}</td>
                    <td>{{formatDate(myOrderTracing.createdAt)}}</td>
                    <td>{{formatDate(myOrderTracing.statusChangedAt)}}</td>
                    <td>
                        Not Applicable
                    </td>
                </tr>
            </ng-container>
            
            <ng-container *ngIf="isDateOlderThan3Days(myOrderTracing.statusChangedAt) && myOrderTracing.status != 'DELIVERED' && myOrderTracing.status != 'CANCELLED'">
                <tr class="table-danger">
                    <td>{{myOrderTracing.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.name}}</td>
                    <td>{{myOrderTracing.order.productVariation.size}}</td>
                    <td>{{myOrderTracing.order.quantity}}</td>
                    <td>{{myOrderTracing.order.address.name}} |
                        {{myOrderTracing.order.address.contact}} |
                        {{myOrderTracing.order.address.address1}}, {{myOrderTracing.order.address.address2}}
                        {{myOrderTracing.order.address.city}}, {{myOrderTracing.order.address.status}}
                        {{myOrderTracing.order.address.country}}, {{myOrderTracing.order.address.zipcode}}</td>
                    <td>{{myOrderTracing.status}}  <br> <span *ngIf="myOrderTracing.alert == 'true'" style="background-color: red; color: white;">Alert Send By Admin</span></td>
                    <td>{{formatDate(myOrderTracing.createdAt)}}</td>
                    <td>{{formatDate(myOrderTracing.statusChangedAt)}}</td>
                    <td>
                        <ng-container *ngIf="myOrderTracing.status == 'ORDER_PLACED'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option value="packed">Packed</option>
                                <option value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        <!--  -->
                        <ng-container *ngIf="myOrderTracing.status == 'PACKED'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        <!--  -->
<!-- 
                        <ng-container *ngIf="myOrderTracing.status == 'PACKED'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container> -->
                        <ng-container *ngIf="myOrderTracing.status == 'SHIPPED'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option disabled value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="myOrderTracing.status == 'AT_DELIVERY_CENTRE'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option disabled value="shipped">Shipped</option>
                                <option disabled value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="myOrderTracing.status == 'OUT_FOR_DELIVERY'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option disabled value="shipped">Shipped</option>
                                <option disabled value="at_delivery_centre">In Transit</option>
                                <option disabled value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        
                        <button class="btn-sm btn btn-success m-1" id="save-state" (click)="changeStatus(myOrderTracing.id, myOrderTracing.selectedStatus, i, myOrderTracing)">Save State</button>
                    
                    </td>
                </tr>
            </ng-container>
            
            <ng-container *ngIf="!isDateOlderThan3Days(myOrderTracing.statusChangedAt)  && myOrderTracing.status != 'DELIVERED' && myOrderTracing.status != 'CANCELLED'">

                
                <tr>
                    <td>{{myOrderTracing.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.name}}</td>
                    <td>{{myOrderTracing.order.productVariation.size}}</td>
                    <td>{{myOrderTracing.order.quantity}}</td>
                    <td >{{myOrderTracing.order.address.name}} | {{myOrderTracing.order.address.contact}} |
                        {{myOrderTracing.order.address.address1}}, {{myOrderTracing.order.address.address2}}
                        {{myOrderTracing.order.address.city}}, {{myOrderTracing.order.address.status}}
                        {{myOrderTracing.order.address.country}}, {{myOrderTracing.order.address.zipcode}}</td>
                    <td>{{myOrderTracing.status}}</td>
                    <td>{{formatDate(myOrderTracing.createdAt)}}</td>
                    <td>{{formatDate(myOrderTracing.statusChangedAt)}}</td>

                    <td>
                        <ng-container *ngIf="myOrderTracing.status == 'ORDER_PLACED'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option value="packed">Packed</option>
                                <option value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>

                        <ng-container *ngIf="myOrderTracing.status == 'packed'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>

                        <ng-container *ngIf="myOrderTracing.status == 'SHIPPED'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option disabled value="shipped">Shipped</option>
                                <option value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>

                        <ng-container *ngIf="myOrderTracing.status == 'AT_DELIVERY_CENTRE'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option disabled value="shipped">Shipped</option>
                                <option disabled value="at_delivery_centre">In Transit</option>
                                <option value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        
                        <ng-container *ngIf="myOrderTracing.status == 'OUT_FOR_DELIVERY'">
                            <select name="status-change" id="status-change" [(ngModel)]="myOrderTracing.selectedStatus">
                                <option disabled value="packed">Packed</option>
                                <option disabled value="shipped">Shipped</option>
                                <option disabled value="at_delivery_centre">In Transit</option>
                                <option disabled value="out_for_delivery">Out for Delivery</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </ng-container>
                        
                        <ng-container *ngIf="myOrderTracing.status != 'CANCELLED'">
                            <button class="btn-sm btn btn-success m-1" id="save-state" (click)="changeStatus(myOrderTracing.id, myOrderTracing.selectedStatus, i, myOrderTracing)">Save State</button>
                        </ng-container>
                        <ng-container *ngIf="myOrderTracing.status == 'CANCELLED'">
                            Not Applicable
                        </ng-container>
                        
                    </td>
                </tr>
            </ng-container>
            
            <ng-container *ngIf="!isDateOlderThan3Days(myOrderTracing.statusChangedAt)  && myOrderTracing.status == 'DELIVERED' && myOrderTracing.status != 'CANCELLED'">
                <tr class="table-success">
                    <td>{{myOrderTracing.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.id}}</td>
                    <td>{{myOrderTracing.order.productVariation.product.name}}</td>
                    <td>{{myOrderTracing.order.productVariation.size}}</td>
                    <td>{{myOrderTracing.order.quantity}}</td>
                    <td>{{myOrderTracing.order.address.name}} |
                        {{myOrderTracing.order.address.contact}} |
                        {{myOrderTracing.order.address.address1}}, {{myOrderTracing.order.address.address2}}
                        {{myOrderTracing.order.address.city}}, {{myOrderTracing.order.address.status}}
                        {{myOrderTracing.order.address.country}}, {{myOrderTracing.order.address.zipcode}}</td>
                    <td>{{myOrderTracing.status}}</td>
                    <td>{{formatDate(myOrderTracing.createdAt)}}</td>
                    <td>{{formatDate(myOrderTracing.statusChangedAt)}}</td>
                    <td>
                        Not Applicable
                    </td>
                </tr>
            </ng-container>
            
        </ng-container>
        <button type="button" class="m-1 btn btn-secondary btn-sm" (click)="next()">More</button>
    </tbody>
</table>
