<div class="container border form-div">
    <div class="wrapper">
            <div class="form-headline">
                <h2>Welcome</h2>
            <h4 >Login as Admin</h4>
            </div>
                <form id="submit-form" (ngSubmit)="onSubmit()">
                    <p class="full-width">
                        <input id="email" name="email" [(ngModel)]="user.email" class="form-input" type="email" placeholder="Your Email*">
                        <small class="name-error"></small>
                    </p>
                    <p class="full-width">
                        <input id="passowrd" name="Password" [(ngModel)]="user.password" class="form-input" type="text" placeholder="Password*" required>
                        <small></small>
                    </p>
                    <p class="full-width">
                        <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive
                        communications about Company's services.
                    </p>
                    <p class="full-width">
                        <input type="submit" class="submit-btn" value="Submit">
                    </p>
                </form>
            </div>
        </div>

  