<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div style="display:flexbox;text-align:left;font-family:Jost, sans-serif;font-weight: 600;font-size:1.8rem;margin-bottom: 50px;">
  Added Products</div><div class="added-products">
    <ng-container *ngFor="let product of myProducts">
        <div class="row" id="products-list">
            <div class="detail col-md-3 p-0">
                <img src="{{convertToImage(product.image)}}" class="img-fluid">
            </div>
            <div class="detail col-md-9">
                <div class="row">
                    <div class="detail col-md-6" id="product-details">
                        <h3 class="mt-2">{{product.name}} </h3>
                        <hr>
                        <span style="font-weight: bold;">Selling Price: </span> ₹{{product.price}} <br>
                        <span style="font-weight: bold;">Status: </span><span
                            style="color:green; text-decoration: underline;"
                            *ngIf="product.approvalStatus == 'true'">Approved</span>
                        <span *ngIf="product.approvalStatus == 'false'"
                            style="color:red; text-decoration: underline;">Not Approved</span>
                        <span *ngIf="product.approvalStatus == 'rejected'"
                            style="color:red; text-decoration: underline;">Rejected</span> <br>
                        <span style="font-weight: bold;">Category: </span> {{product.category.categoryName}} <br>
                        <span style="font-weight: bold;">Margin: </span> {{product.margin}}%<br>
                        <span style="font-weight: bold;">Discount: </span> {{product.discount}}%<br>
                    </div>
                    <div class="detail col-md-5 text-end" id="button-group">
                        <button *ngIf="showEditButton && editProductId !== product.id"
                            class="btn btn-sm btn-outline-dark" (click)="editProduct(product.id)">Edit Details</button>
                        <button *ngIf="isEditingProduct(product.id)" class="btn btn-sm btn-outline-dark"
                            (click)="cancelEdit()">Cancel</button>
                        <button role="button" *ngIf="product.approvalStatus == 'true'" style="margin-left: 5px;"
                            class="btn btn-sm btn-outline-dark" (click)="addQuantityShowMethod(product.id)">Edit
                            Quantity</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="editProductId === product.id">
                <hr style="margin-top: 40px; width:90%; margin-left: 40px ">
                <h2 style="margin-top: 15px; margin-left: 3px;">Edit Product Details</h2>
                <div id="edit-profile">
                    <form action="" class="mt-4" (ngSubmit)="onEditSubmit(product)">

                        <div class="row">
                            <div class="col-6">
                                <label for="name"
                                    style="font-weight: 600; margin-left: 2px; margin-bottom: 5px;">Name</label>
                                <input type="text" name="companyType" [value]="product.name" [(ngModel)]="product.name"
                                    class="form-control" id="name" placeholder="Enter Item Name" style="width:400px"
                                    name="name">
                            </div>
                            <div class="col-6">
                                <label for="category"
                                    style="font-weight: 600; margin-left: 2px; margin-bottom: 5px;">Catagory</label>
                                <select class="form-select " id="category" name="category"
                                    [(ngModel)]="product.category.id" style="width:400px">
                                    <option value="" disabled selected>Select Category</option>
                                    <ng-container *ngFor="let category of categories; let i = index;">
                                        <option [value]="category.id">{{ category.categoryName }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="gender"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Gender</label>
                                <select class="form-select" id="gender" name="gender" [(ngModel)]="product.gender"
                                    [ngModelOptions]="{standalone: true} " style="width: 300px;">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="price"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Price</label>
                                <input type="number" name="price" class="form-control form-control-color"
                                    [(ngModel)]="product.price" id="price" value="1" title="Select Quantity"
                                    style="width: 300px;" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="margin"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Margin (in
                                    %)</label>
                                <input type="number" name="margin" class="form-control form-control-color"
                                    [(ngModel)]="product.margin" id="margin" value="1" title="Select Quantity"
                                    style="width: 300px;" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-6">
                                <label for="discountPrice"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Discount Price (in
                                    %)</label>
                                <input type="number" name="discountPrice" class="form-control form-control-color"
                                    [(ngModel)]="product.discount" id="discountPrice" value="1" title="Select Quantity"
                                    style="width: 300px;" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="color"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Select Color</label>
                                <div style="display: flex;">
                                    <select class="form-select" style="width: 300px;;" [(ngModel)]="product.color"
                                        [ngModelOptions]="{standalone: true}">
                                        <option value="" disabled>Select Basic Color</option>
                                        <option *ngFor="let basicColor of basicColors" [value]="basicColor.value">{{
                                            basicColor.name }}</option>
                                    </select>
                                    <input type="color" name="color" class="form-control form-control-color" id="color"
                                        [(ngModel)]="product.color" style="margin-left: 10px;" title="Choose a color"
                                        [ngModelOptions]="{standalone: true}">

                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="">
                                <label for="description"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Product
                                    Description</label>
                                <textarea class="form-control" [(ngModel)]="product.description" name="description"
                                    id="description" rows="3" placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                        <div class="mt-3" style="display: flex;">
                            <div class="col-6">
                                <label for="formFileSm" class="form-label"
                                    style="font-weight: 600; margin-left: 2px; margin-bottom: 5px;">Primary Product
                                    Image</label>
                                <div style="width: 80%;">
                                    <input class="form-control form-control-sm" id="formFileSm" type="file"
                                        (change)="onSingleFileSelected($event)">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="formFileSm" class="form-label"
                                    style="font-weight: 600; margin-left: 3px; margin-bottom: 5px;">Additional
                                    Images</label>
                                <div style="width: 80%;">
                                    <input class="form-control form-control-sm" id="formFileSm" type="file" multiple
                                        (change)="onMultipleFilesSelected($event)">
                                </div>
                            </div>
                        </div>
                        <button class="mt-5 btn btn-outline-dark" style="margin-bottom: 20px;">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row" *ngIf="activeProductId === product.id">
                <hr style="margin-top: 40px; width:90%; margin-left: 40px ">
                <h2 style="margin-top: 15px; margin-left: 3px;">Edit Quantity</h2>
                <div class="add-quantity">
                    <div class="row" style="margin-top:20px; margin-bottom: 10px;">
                        <div class="col-md-12">
                            <div *ngIf="parsedValues && parsedValues.length > 0">
                                <span style="margin-left: 5px; font-weight: 600; text-decoration: underline;">Available Quantities</span>
                                <table class="table" style="margin-top: 15px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Serial No.</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Delete Product</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of parsedValues; let i=index">
                                            <td>{{i + 1}}</td>
                                            <td>{{x.first}}</td>
                                            <td>{{x.second}}</td>
                                            <td>
                                                <a role="button" style="color: Red;" class="link-danger"
                                                    (click)="deleteQuantity(i,product.id,x.first)">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <hr style="border-color: black; width:80%; margin-left: 90px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span style="font-weight: 600; text-decoration: underline; margin-bottom: 20px; margin-left: 5px;">Add New Quantity</span>
                        <div class="col-3" style="margin-left: 5px;">
                            <label for="size" style="font-weight: 600;">Select Size</label>
                            <select class="form-select" id="size" style="width: 100%;" [(ngModel)]="size" name="size"
                                [ngModelOptions]="{standalone: true}">
                                <option value="NA">Not Applicable</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>

                        <div class="col-3" style="margin-left: 10px;">
                            <label for="quantity" style="font-weight: 600;">Quantity</label>
                            <input type="number" name="quantity" class="form-control form-control-color"
                                [(ngModel)]="quantity" id="quantity" value="1" title="Select Quantity"
                                style="width: 100%;" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div style="margin-left: 8px; margin-bottom: 20px; margin-top: 10px;">
                        <a class="btn btn-sm btn-outline-dark mt-2" (click)="addQuantity()">Add</a>
                        <button style="margin-left:10px ;" class="btn btn-sm btn-outline-dark mt-2"
                            (click)="Submit(product.id)">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </ng-container>
</div>