
 
 <nav class=" navbar-expand-md fixed-top nav ">
  <div class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class=" col-md-3 mb-2 mb-md-0 pos  ">    
      <a href="/"><img class="logo" src="assets\logo.png" ></a>
      <a href="/" class=" link-body-emphasis text-decoration-none">
       <span class="logo-text">Sikkim E-Commerce Portal</span>
      </a>
    
    </div>
    

    <!-- customer -->
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" *ngIf="role == 'ROLE_CUSTOMER'">
      <li><span *ngIf="role == 'ROLE_CUSTOMER'" id="greet-user">Hi {{username}}!</span></li>
      <li><a href="/dashboard" class="nav-link px-2"><span class="material-symbols-outlined"> account_circle </span></a>
      </li>
      <li><a href="/cart" class="nav-link px-2"><span class="material-symbols-outlined"> shopping_cart </span></a></li>
      <li><a href="#" class="nav-link px-2" (click)="logout()"><span class="material-symbols-outlined"> logout
          </span></a></li>
    </ul>
    <!-- SELLER -->

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" *ngIf="role == 'ROLE_SELLER'">
      <li><span *ngIf="role == 'ROLE_SELLER'" id="greet-user">Hi {{username}}!</span></li>
      <li><a href="/seller/dashboard" class="nav-link px-2"><span class="material-symbols-outlined"> account_circle </span></a>
      </li>
      <li><a href="" class="nav-link px-2" (click)="Sellerlogout()"><span class="material-symbols-outlined">logout
          </span></a></li>
    </ul>


    <!-- ADMIN -->

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" *ngIf="role == 'ROLE_ADMIN'">
      <li><span *ngIf="role == 'ROLE_ADMIN'" id="greet-user">Hi {{username}}!</span></li>
      <li><a href="/admin/dashboard" class="nav-link px-2"><span
            class="material-symbols-outlined">account_circle</span></a></li>
      <li><a href="" (click)="Adminlogout()" class="nav-link px-2"><span
            class="material-symbols-outlined">Logout</span></a></li>
    </ul>

    <!-- SUPER ADMIN -->
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" *ngIf="role == 'ROLE_SUPER_ADMIN'">
      <li><span *ngIf="role == 'ROLE_SUPER_ADMIN'" id="greet-user">Hello {{username}}!</span></li>
      <li><a href="superAdmin/dashboard" class="nav-link px-2"><span
            class="material-symbols-outlined">account_circle</span></a></li>
      <li><a href="" (click)="Adminlogout()" class="nav-link px-2"><span
            class="material-symbols-outlined">Logout</span></a></li>
    </ul>





    <!-- LOGIN SIGNUP -->




    <div class="col-md-3 text-end" *ngIf="role == ''">
      <!-- <button type="button" class="btn btn-primary me-2" routerLink="/auth/login">Login</button>
      <button type="button" class="btn btn-primary" routerLink="/auth/signup">Sign-up</button>
     -->
      <button class="btn" routerLink="/auth/login">
        <span>LOGIN</span>
      </button>

      <button class="btn" routerLink="/auth/signup">
        <span>SIGN-UP</span>
      </button>
    </div>

    <!-- <div class="d-flex ms-auto" *ngIf="role == ''">
      <button routerLink="/auth/login" type="button" class="btn btn-edit text-nowrap" aria-label="Try it on StackBlitz" data-bs-original-title="Try it on StackBlitz">
        Login
      </button>
      <button routerLink="/auth/signup" type="button" class="btn btn-clipboard mt-0 me-0" aria-label="Copy to clipboard" data-bs-original-title="Copy to clipboard">
        Sign-Up
      </button>
    </div> -->


  
</div>
</nav>







<router-outlet></router-outlet>
