<app-filter class="container" (filterNotify)="onCategoryFilter($event)"></app-filter>

<div class="product-list d-flex flex-wrap justify-content-center" style="background-color: #ffffff;border-radius:24px;">
    <ng-container *ngFor="let product of products" >
        <app-product [product]="product"></app-product>
    </ng-container>

</div>

<div class="align">
    
    <button *ngIf="products.length >= 10" type="button" class="button" (click)="addApprovedProducts()"><span class="arrow-up material-symbols-outlined chevron-right">
        keyboard_double_arrow_down
        </span>
    </button></div>




    

